{
  "development": {
    "baseUrl": "https://dev.vcam.ai/",
    "email": "dev@example.com",
    "password": "dev_password"
  },
  "staging": {
    "baseUrl": "https://staging.vcam.ai/",
    "email": "staging@example.com",
    "password": "staging_password"
  },
  "live": {
    "baseUrl": "https://vcam.ai/",
    "email": "live@example.com",
    "password": "live_password"
  }
}
